body {
  margin: 0;
  height: 100vh;
  background: #ffd6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
}

/* CLOSED BOOK */
#book {
  width: 280px;
  height: 360px;
  background: #ff9ecf;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: transform 0.6s ease;
}

#book:hover {
  transform: scale(1.05);
}

/* OPEN BOOK */
#openBook {
  width: 80%;
  height: 85vh;
  display: flex;
  background: #fff0f6;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.3);
  overflow: hidden;
}

/* hidden state */
.hidden {
  display: none;
}

/* PAGES */
.page {
  height: 100%;
}

.left {
  width: 30%;
  background: #ffe0ef;
  border-right: 2px dashed #ff8fc7;
  padding: 20px;
}

.right {
  width: 70%;
  padding: 30px;
}

/* MENU */
.menu div {
  padding: 12px;
  margin: 10px 0;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menu div:hover {
  background: #ffd1e6;
  transform: scale(1.05);
}
